.services {
  padding: 3rem 0;
}

.services-container {
  padding: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .services-container {
    grid-template-columns: 1fr;
  }
}
