.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: white;
  position: sticky;
  top: 0;
}
.logo h1 {
  font-size: 1.6rem;
  font-weight: 500;
}
.logo small {
  font-size: 1rem;
}
.nav-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
.nav-container a {
  color: black;
  font-size: 1.3rem;
}
