.register-login {
  padding: 3rem;
  text-align: center;
  min-height: calc(100vh - 80px);
}
.form-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.form-container {
  max-width: 500px;
  margin: 0 auto;
}
.form-container input {
  width: 100%;
  height: 50px;
  font-size: 1.2rem;
  padding: 5px 10px;
  margin-bottom: 1.2rem;
}
.form-container input:focus {
  outline: none;
}
.error {
  color: red;
  margin-bottom: 1rem;
}
.btn-form {
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}
.btn-google {
  border: solid 2px black;
  color: black;
  font-size: 1.2rem;
  width: 500px;
  height: 50px;
  padding: 0;
  margin: 2rem auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.btn-google img {
  width: 2rem;
}
