.inspiration {
  padding: 3rem;
  text-align: center;
}
.inspiration-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.divider {
  width: 5rem;
  height: 2px;
  background-color: #222;
}

.inspiration-title p {
  text-transform: uppercase;
}
.inspiration-heading {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.inspiration-text {
  max-width: 600px;
  margin: 0 auto;
}
.inspiration-text p {
  font-size: 1.2rem;
  line-height: 1.6;
}
